<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="MyCBZ.CBZMageSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="MyCBZ.Settings1" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <MyCBZ.CBZMageSettings>
            <setting name="TempFolderPath" serializeAs="String">
                <value>%APPDATA%\CBZMage\temp\</value>
            </setting>
            <setting name="Version" serializeAs="String">
                <value>0.5b</value>
            </setting>
        </MyCBZ.CBZMageSettings>
        <MyCBZ.Settings1>
            <setting name="TempFolderPath" serializeAs="String">
                <value />
            </setting>
        </MyCBZ.Settings1>
    </userSettings>
</configuration>