<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Win_CBZ.Win_CBZSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="Win_CBZ.CBZMageSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="Win_CBZ.Settings1" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Win_CBZ.Win_CBZSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
            <section name="Win_CBZ.CBZMageSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <Win_CBZ.Win_CBZSettings>
            <setting name="TempFolderPath" serializeAs="String">
                <value>%APPDATA%\WIN_CBZ\Temp\</value>
            </setting>
            <setting name="StoryPageRenamePattern" serializeAs="String">
                <value>p_{page}.{ext}</value>
            </setting>
            <setting name="SpecialPageRenamePattern" serializeAs="String">
                <value>{type}_{page}.{ext}</value>
            </setting>
            <setting name="PagePreviewEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ResizeAlgorithm" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ValidateTags" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CompatMode" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="TagValidationIgnoreCase" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="WindowW" serializeAs="String">
                <value>1071</value>
            </setting>
            <setting name="WindowH" serializeAs="String">
                <value>681</value>
            </setting>
            <setting name="Splitter1" serializeAs="String">
                <value>319</value>
            </setting>
            <setting name="Splitter2" serializeAs="String">
                <value>122</value>
            </setting>
            <setting name="Splitter3" serializeAs="String">
                <value>167</value>
            </setting>
            <setting name="Splitter4" serializeAs="String">
                <value>439</value>
            </setting>
            <setting name="WindowX" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="WindowY" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="IgnoreErrorsOnSave" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DebugMode" serializeAs="String">
                <value>3ab980acc9ab16b</value>
            </setting>
            <setting name="ImageConversionMode" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ImageConversionQuality" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="MetaDataFilename" serializeAs="String">
                <value>ComicInfo.xml</value>
            </setting>
            <setting name="CustomMetadataFields" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" />
                </value>
            </setting>
            <setting name="MetaDataPageIndexVersionToWrite" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="FirstRun" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="SettingsVersion" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="RecentOpenArchivePath" serializeAs="String">
                <value />
            </setting>
            <setting name="RecentAddImagePath" serializeAs="String">
                <value />
            </setting>
            <setting name="RecentSavedArchivePath" serializeAs="String">
                <value />
            </setting>
            <setting name="OmitEmptyXMLTags" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AutoDeleteTempFiles" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SkipIndexCheck" serializeAs="String">
                <value>False</value>
            </setting>
        </Win_CBZ.Win_CBZSettings>
        <Win_CBZ.CBZMageSettings>
            <setting name="TempFolderPath" serializeAs="String">
                <value>%APPDATA%\CBZMage\Temp\</value>
            </setting>
            <setting name="StoryPageRenamePattern" serializeAs="String">
                <value>{title}_p{page}</value>
            </setting>
            <setting name="SpecialPageRenamePattern" serializeAs="String">
                <value>{type}_{index}</value>
            </setting>
            <setting name="PagePreviewEnabled" serializeAs="String">
                <value>False</value>
            </setting>
        </Win_CBZ.CBZMageSettings>
        <Win_CBZ.Settings1>
            <setting name="TempFolderPath" serializeAs="String">
                <value />
            </setting>
        </Win_CBZ.Settings1>
    </userSettings>
    <applicationSettings>
        <Win_CBZ.Win_CBZSettings>
            <setting name="Version" serializeAs="String">
                <value>0.20.153b</value>
            </setting>
            <setting name="RenamerPlaceholders" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
                        <string>{name}</string>
                        <string>{title}</string>
                        <string>{ext}</string>
                        <string>{page}</string>
                        <string>{pages}</string>
                        <string>{index}</string>
                        <string>{size}</string>
                        <string>{number}</string>
                        <string>{year}</string>
                        <string>{month}</string>
                        <string>{day}</string>
                        <string>{lang}</string>
                        <string>{series}</string>
                        <string>{type}</string>
                        <string>{hash}</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="RenamerFunctions" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
                        <string>count(&lt;property&gt;, &lt;{attribute}&gt;)</string>
                        <string>{IF (&lt;conditions&gt;) THEN '&lt;pattern&gt;|&lt;string&gt;' ELSE '&lt;pattern&gt;|&lt;string&gt;'}</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="AppName" serializeAs="String">
                <value>Win_CBZ</value>
            </setting>
        </Win_CBZ.Win_CBZSettings>
        <Win_CBZ.CBZMageSettings>
            <setting name="Version" serializeAs="String">
                <value>0.5b</value>
            </setting>
            <setting name="RenamerPlaceholders" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
                        <string>{name}</string>
                        <string>{title}</string>
                        <string>{page}</string>
                        <string>{pages}</string>
                        <string>{size}</string>
                        <string>{number}</string>
                        <string>{month}</string>
                        <string>{year}</string>
                        <string>{lang}</string>
                        <string>{series}</string>
                        <string>{type}</string>
                        <string>{IF (&lt;conditions&gt;) THEN '&lt;pattern&gt;|&lt;string&gt;' ELSE '&lt;pattern&gt;|&lt;string&gt;'}</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="RenamerFunctions" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
                        <string>count(&lt;property&gt;, &lt;{attribute}&gt;)</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="AppName" serializeAs="String">
                <value>Win_CBZ</value>
            </setting>
        </Win_CBZ.CBZMageSettings>
    </applicationSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.2" newVersion="4.0.1.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="ZstdSharp" publicKeyToken="8d151af33a4ad5cf" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-0.7.3.0" newVersion="0.7.3.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>